* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
.preguntas {
    display:flex;

    flex-direction: column;
    align-items: center;
    gap: 50px;
}
button{
    width: 200px;
    height: 50px;
    color: rgba(245, 228, 220, 0.76);
    background-image: url(/pages/azul.jpg);
    background-position: 70% 45%;
    font-size: 18px;
    border-radius: 10px;
    gap: 50px;
}
body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}
button, a {
    padding: 0.4rem 0.9rem;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    margin: 0.5rem;
    cursor: pointer;
    background-color: steelblue;
    color: white;
}
.contTodo {
    display: flex;
    color: black;
    font-size: 24px;
    flex-direction: column;
    width: fit-content;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    bottom: 4rem;
}
.pregunta {
    margin: 0.4rem 0.9rem;
    border-radius: 6px;
    border: 1px black solid;
    padding: 0.4rem 0.9rem;
}

